.statistics {
  margin: 0 auto 20px auto;
  width: 480px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 5px 5px 8px 4px #cbc7c7da;
  text-align: center;
}

.title {
  padding: 20px 0;
    font-size: 32px;
    font-weight: 700;
}

.statList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  border-radius: 0 0 7px 7px;
}

.item {
  min-width: calc(100%/5);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.item:first-child {
  border-radius: 0 0 0 7px;
}

.item:last-child {
  border-radius: 0 0 7px 0;
}

.label {
  font-size: 24px;
  font-weight: 400;
}

.percentage {
  font-size: 26px;
  font-weight: 500;
}